<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>공지사항</title>
</head>
<body>
	<a href="/boardList">공지사항리스트로 이동</a> <br>
	<a href="/boardWrite">공지사항 글 작성 페이지 이동</a> <br>
	<a href="/boardEdit">공지사항 글 수정 페이지 이동</a> <br>
	<a href="/boardView">공지사항 글 내용보기 페이지 이동</a>
	
	<!--  <table>
	<tbody>
		<tr th:each="post : ${postlist}">
			<td th:text="${post.post_no}"></td>
			<td >
				<a th:text="${post.post_title}"></a>
			</td>
			<td th:text="${post.post_date}"></td>
			<td th:text="${post.post_view}"></td>
		</tr>
	</tbody>
	</table>-->
</body>
</html>
